doc/*
inputs/*
outputs/*
s2v/*
s5/*
scenes/*
PyRATP/pyratp_wralea/*
PyRATP/__pycache__/*
PyRATP/__init__.py
PyRATP/__init__.pyc
PyRATP/saved_pyratp_pyd/*
*.pyc
*.pyf
PyRATP/f90/Release/*
PyRATP/f90/SConscript
*.mod
PyRATP/f90/src.win-amd64-3.7/*
PyRATP/pyratp/interface/*
PyRATP/pyratp/mtg_test.txt
adel_saved/*
WheatFspm/*
WheatFspm
l-egume/*
mytests.py
TODO
cas_simple_1.py
cas_simple_2.py
cas_simple_3.py
test_plane_plantgl.py
test_suns_caribu.py
PyRATP/f90/pyratp.cp37-win_amd64.pyd
post_process.py
.vscode/*
debug_tesselation_multithread.py
debug_distrib_voxel.py