doc/*
s2v/*
s5/*
PyRATP/pyratp_wralea/*
PyRATP/__pycache__/*
PyRATP/__init__.py
PyRATP/__init__.pyc
PyRATP/saved_pyratp_pyd/*
*.pyc
*.pyf
*.so
PyRATP/f90/Release/*
PyRATP/f90/SConscript
*.mod
PyRATP/f90/src.win-amd64-3.7/*
PyRATP/pyratp/interface/*
PyRATP/pyratp/mtg_test.txt
PyRATP/f90/pyratp.cp37-win_amd64.pyd
PyRATP/f90/pyratp.pyd
LightVegeManager_for_Singularity.egg-info/*
build/*
dist/*
PyRATP/pyratp/pyratp.pyd
